

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";


@layer base {
  body {
    font-family: "DM Sans", sans-serif;
    background: white;
    min-height: 100vh;
    overflow-x: hidden;
  }
  h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 2.0rem;
  }
  h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 2.0rem;
  } 
  h3 {
    font-family: "DM Sans", sans-serif; 
  } 
  h5 {
    font-family: "DM Sans", sans-serif;
  }
  p {
    font-family: "DM Sans", sans-serif;
    font-size: 1.5rem;
  }
  p span {
    color: purple;
  }
}

@layer components {
  .typewriter-text {
    font-size: 2.0rem;
    white-space: pre-wrap;
    line-height: 1.6;
  }
  .div-shadow {
    @apply flex justify-center w-full px-10 gap-10 shadow-2xl rounded-2xl py-10;
  }
}

@layer utilities {
  .pulse-scale {
    animation: pulseScale 1.5s ease-in-out infinite;
  }

  @keyframes pulseScale {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.2); }
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}